{% extends 'main.html' %}

{% block content %}
  <main class="profile-page layout layout--3">
    <div class="container">
{% include 'base/topics_component.html' %}

      <div class="roomList">
        <div class="profile">
          <div class="profile__avatar">
            <div class="avatar avatar--large active">
              <img src="{{ user.avatar.url }}" alt="User Avatar">
            </div>
          </div>
          <div class="profile__info">
            <h3>{{user.username}}</h3>
            <p>@{{user.username}}</p>
          {% if request.user == user %}
              <a href="{% url 'update-user' %}" class="btn btn--main btn--pill">Edytuj profil</a>
          {% else %}
              {% if is_friend %}
                  <button class="btn btn--secondary btn--pill" onclick="removeFriend({{ user.id }})">
                      ❌ Usuń ze znajomych
                  </button>
              {% elif friend_request_sent %}
                  <button class="btn btn--disabled btn--pill">
                      ✅ Zaproszenie wysłane
                  </button>
              {% else %}
                  <button class="btn btn--main btn--pill" onclick="sendFriendRequest({{ user.id }})">
                      ➕ Dodaj do znajomych
                  </button>
              {% endif %}
          {% endif %}
              <a href="{% url 'gallery' user.username %}" class="btn btn--main btn--pill">Galeria</a>
          </div>

          <div class="profile__about">
            <h3>O mnie</h3>
            <p>
              {{ user.bio }}
            </p>
          </div>
        </div>

        <div class="roomList__header">
          <div>
            <h2>Czaty {{user.username}}</a>
            </h2>
          </div>
        </div>
        {% include 'base/feed_component.html' %}



      </div>

   {% include 'base/activity_component.html' %}
    </div>
  </main>
{%endblock content%}
